.wrapper {
  overflow-y: hidden;
}

.bg-logo {
  background-image: url("../../assets/logos/logo2.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 3.5rem;
}

.bg-light-grey {
  background-color: rgb(194, 194, 194);
}

.bg-white {
  background-color: #ffffff;
}

.logo-aside {
  width: 65%;
  padding: 1rem;
}

.title-reception {
  font-family: Roboto-Regular;
  color: #37373a;
}

.subtitle-font {
  font-family: Roboto-Regular;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 15px;
}

.custom-card-text {
  font-family: Roboto !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 1.19 !important;
  letter-spacing: normal;
  text-align: left;
  color: #37373a;
}

.accordion-wrapper {
  max-height: 60vh;
  overflow-y: scroll;
}

.left-container-for-totals {
  background: #e6e6e8;
  padding: 0.8em 0 0.8em 1em;
  border-radius: 5px 0 0 5px;
}

.center-container-for-totals {
  background: #e6e6e8;
  padding: 0.8em;
}

.right-container-for-totals {
  background: #e6e6e8;
  padding: 0.8em;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 768px) and (orientation: portrait) {
  .title-font {
    font-size: 2em;
    font-weight: 500;
    line-height: 0.2;
  }

  .accordion-wrapper {
    max-height: 70vh;
    overflow-y: scroll;
  }
}

.cursor-pointer :hover {
  cursor: pointer !important;
}

@media (max-width: 768px) and (orientation: landscape) {
  .title-font {
    font-size: 2em;
    font-weight: 500;
    line-height: 0.2;
  }

  .accordion-wrapper {
    max-height: 60vh;
    overflow-y: scroll;
  }
}

@media (min-width: 768px) {
  .large-row {
    display: flex;
  }

  .xs-row {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .large-row {
    display: none;
  }

  .xs-row {
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
  }
}
