.table-header {
  font-family: Raleway;
  font-size: 12px;
  font-weight: bold;
  color: #5d777c;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
  background-color: #fff;
}

.table-height {
  max-height: 60vh;
  overflow-y: auto;
}

.table-content {
  font-family: Raleway;
  font-size: 14px;
  color: #333;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  padding: 18px 16px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #fff;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  border: hidden;
}
