<div class="card p-4">
  <form class="justify-content-center">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="Ingrese RUT/DNI"
      />
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input
          type="text"
          class="form-control"
          id="inputAddress2"
          placeholder="Nombre"
        />
      </div>
      <div class="form-group col-md-6">
        <input
          type="text"
          class="form-control"
          id="inputAddress2"
          placeholder="Apellido"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <input
          type="password"
          class="form-control"
          id="inputPassword4"
          placeholder="Contraseña"
        />
      </div>
      <div class="form-group col-md-12">
        <input
          type="email"
          class="form-control"
          id="inputEmail4"
          placeholder="Email"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <select id="inputState" class="form-control">
          <option selected>Elija país...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <select id="inputMall" class="form-control">
          <option selected>Elija Mall...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-block grey-btn">
      Registrar usuario
    </button>
  </form>
</div>
